[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-cov = "*"
pudb = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
sqlalchemy = "*"
psycopg2 = "*"
shamrock = "*"
alembic = "*"
sqlalchemy-utils = "*"

[requires]
python_version = "3.8"
